<head>
<link rel="stylesheet" type="text/css" href="style.css">

</head>


#home {background-color: yellow;
}



body, h1, h2, nav, header, ul, li {
margin:0;
padding:0;
}


.wrapper {
background-color: aqua;
max-width:  1170px;
margin:0 auto 0 auto;
}


element.style {
clear: both;
}


.column-features{
bckground-color:red;
width:33%;
float:left;

*, *;before, *;after {
-webkit box-sizing: border-box;
-moz:box-sizing: border-box;
box-sizing: border-box;

padding-right:30px;

}





.column-gallery{
background-color:red;
width:20%;
float:left;


}

.collumn-gallery img{
width:100%}

.collumn-features img{
width:100%}

#gallery{
clear:both;
background: gray;
overflow:auto;
}


.column-gallery img {
width:100%
}


