<head>
<link rel="stylesheet" type="text/css" href="style.css">

</head>


#home {background-color: yellow;
}



body, h1, h2, nav, header, ul, li {
margin:0;
padding:0;
}


.wrapper {
background-color: aqua;
max-width:  1170px;
margin:0 auto 0 auto;
}





.column-features{
bckground-color:red;
width:33%;
float:left;
}


.column-gallery{
bckground-color:red;
width:20%;
float:left;
}



#gallery{
clear:both;
background: gray;
overflow:auto;
}


.column-gallery img {
width:100%
}